.asset-bodyL {
  margin: 0px 23px;
}

.collapse-section {
  margin-bottom: 14px;
}

.collapse-section.bordered {
  border: 1px solid #dddddd;
  padding: 8px;
}

.collapse-header {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 2%;
}

.arrow {
  width: 16px;
  height: 9.6px;
  margin-top: 16px;
  margin-bottom: 17.4px;
  margin-left: 14px;
  transition: transform 0.25s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  margin-top: 10px;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  letter-spacing: 2%;
}

.see-more {
  display: block;
  justify-self: end;
  margin-top: 30px;
  color: #6b6b6b;
  font-size: 13px;
  cursor: pointer;
}

.example-box {
  padding-top: 20px;
  padding-left: 40px;
  margin-top: 12px;
  font-weight: 600;
}

.example-box p {
  border: 1px solid #dcdcdc;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  line-height: 100%;
  letter-spacing: 2%;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.example-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 120%;
  letter-spacing: 2%;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
}
