.notice-board {
  position: absolute;
  margin-top: 18px;
  top: 90px;
  right: 0px;
  width: 95px;
  height: 394px;
  background: #ffffff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  z-index: 1000;
  transition: transform 0.35s ease;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.notice-board.open {
  transform: translateX(0);
}

.notice-board:not(.open) {
  transform: translateX(120%);
}

.box-conatiner {
  width: 50%;
  height: 100%;
  background: #000;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  justify-content: center;
  align-items: center;
}

.notice-header {
  border-top-left-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-close {
  position: relative;
  width: 19.83px;
  height: 19.83px;

  background: none;
  border: none;
  cursor: pointer;
  margin-top: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice-close .close-line {
  position: absolute;
  width: 19.83px;
  height: 2px;
  background: #ffffff;
  border-radius: 2px;
}

.notice-close .close-line:first-child {
  transform: rotate(45deg);
}

.notice-close .close-line:last-child {
  transform: rotate(-45deg);
}

.notice-text {
  border: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 27.1px;
  margin-bottom: 30px;
  gap: 8.7px;
  color: #fff;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
}
