.navbar {
  width: 100%;
  height: 90px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-left {
  display: flex;
}

.logo {
  display: flex;
  position: absolute;
  width: 311px;
  height: 49px;
  left: 83px;
  top: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 83px;
}

.nav-icon {
  align-items: center;
  width: 30px;
  height: 32.3px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification {
  position: relative;
}

.red-dot {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 7px;
  height: 7.5px;
  background: #ff2c55;
  border-radius: 50%;
}

.profile-img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
}

.more-dots {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.more-dots span {
  width: 3px;
  height: 3px;
  background: #3683f0;
  border-radius: 50%;
}
