.asset-card {
  background: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.asset-header {
  background: #000000;
  color: #ffffff;
  padding: 10px 14px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.asset-header h3 {
  grid-column: 2;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
}

.asset-info {
  grid-column: 3;
  justify-self: end;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.asset-description {
  padding-left: 27px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 2%;
}

.asset-description span {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
}

.asset-body {
  border: 1px solid #d1dcdc;
}

.asset-body iframe {
  width: 100%;
  height: 291px;
  border: none;
}

.asset-card.threadbuilder .thread-title {
  background: #fafae6;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #e6e6e6;
}

.asset-card.threadbuilder .thread-title img {
  padding-left: 10px;
  padding-right: 70px;
}

.thread-input-row {
  display: flex;
  gap: 27px;
  width: 100%;
  padding-top: 30px;
  padding-left: 27px;
  padding-right: 27px;
}

.thread-box {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.thread-box-title {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  margin-top: 4px;
  margin-left: 7px;
  margin-bottom: 4px;
}

.thread-box-input {
  width: 100%;
  height: 100%;
  padding-top: 7px;
  padding-left: 7px;
  resize: none;
  background: #fafafa;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #6c757d;
  font-weight: 400;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.08);
}

.thread-box-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #6c757d;
  font-weight: 400;
}

.thread-toolbar {
  display: flex;
  margin-top: 52px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px 18px;
  padding-left: 100px;
}

.thread-icons {
  display: flex;
  gap: 14px;
  margin-right: 26px;
}

.icon-placeholder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-placeholder img {
  width: 14px;
  height: 14px;
}

.thread-dropdowns {
  display: flex;
  gap: 10px;
}

.thread-dropdowns button {
  height: 32px;
  width: 91px;
  background: #ffffff;
  border-radius: 6px;
  border: none;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.thread-dropdowns button img {
  width: 10px;
  transform: rotate(180deg);
}

.subthread-btn {
  margin-left: 27px;
  margin-top: 36px;
  background: #0047ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  font-style: "Open Sans", sans-serif;
  cursor: pointer;
}

.subthread-btn span {
  font-size: 20px;
}

.thread-summary {
  width: calc(100% - 28px);
  margin: 0 14px 18px;
  padding: 14px;
  height: 108px;
  resize: none;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-asset {
  padding-top: 28px;
  padding-left: 31px;
  padding-right: 26px;
  padding-bottom: 0px;
}

.input-label {
  display: block;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
}

.input-title {
  width: 100%;
  height: 43px;
  margin-bottom: 30px;
  padding: 0 12px;
  background: #fcfbfb;
  border: none;
  border-radius: 5px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
}

.editor-wrapper {
  background: #fcfbfb;
  border-radius: 0;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.editor-toolbar-top {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px 20px;
  background: #fcfbfb;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #616161;
}

.editor-toolbar-bottom {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 12px;
  background: #fcfbfb;
  border-bottom: 1px solid #e5e5e5;
}

.paragraph-pill {
  background: #ebebeb;
  padding: 3px 10px;
  padding-right: 21px;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #616161;
}

.icon.dots {
  display: flex;
  gap: 6px;
}

.icon.dots::before,
.icon.dots::after {
  content: "";
}

.icon.dots span {
  width: 5px;
  height: 5px;
  background: #616161;
  border-radius: 50%;
}

.icon.dots::before {
  content: "•••";
  letter-spacing: 3px;
  font-size: 14px;
  color: #616161;
}

.editor-canvas {
  height: 142px;
  background: #fcfbfb;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
}
