.main-content {
  padding: 0;
}

.main-header {
  margin-top: 18px;
  margin-left: 187px;
  margin-right: 187px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #0029ff;
}

.submit-btn {
  background: #0029ff;
  color: #ffffff;
  border: none;
  width: 131px;
  height: 36px;
  padding: 8px 18px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}
